body {
}
.table-hover > tbody > tr {
	cursor: pointer;
}
.user-selected {
	background: #F5F5F5 !important;
}

/*
 * Sidebar
 */

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* 
 * Sidebar navigation 
 */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.icon-bar{
	background: #888;
}
.brand-img {
	max-width:100px;
	margin-top:-40px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.navSectionHeader {
    margin-left:20px;
    color: #959595;
    font-weight:bold;
}
.navDivider {
    margin-top:0px;
    margin-bottom:0px;
    border-color: #D1D0CE -moz-use-text-color -moz-use-text-color;
}
.dividerContainer{
    margin-top:15px;
    margin-left:10px;
    margin-right:10px;
}