extends layout

block content
  if user.role == 'manager' || user.role == 'admin'
    table(class='table table-hover')
      caption Uudet liputukset:
      thead
        tr
          th Nimi
          th Osoite
          th Puhelin
          th Tietoinen
          th Kategoria
          th Ilmoittaja
          th Ilm. osoite
          th Ilm. puh
          th Ilm. email
          th Anonyymi
          th Luotu
          th Tila
      tbody(id='new-flags-table')
    div(id='respond-to-flag-modal', class='modal fade')
      div(class='modal-dialog')
        div(class='modal-content')
          form(id='respond-to-flag-form', role='form', method='post', action='/flag/process')
            div(class='modal-header')
              button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              h4(class='modal-title') Tiedot
            div(class='modal-body')
              div(class='flag-info')
              div(class='form-group set-to-processing-container')
                input(type='submit', class='btn btn-primary set-processing-btn', value='Ota käsittelyyn')
              div(class='form-group action-performed-container')              
                label(for='flag-performed-action') Tehty toimenpide:
                textarea(name='action', class='form-control', id='flag-performed-action', rows='4')
                br
                input(type='submit', class='btn btn-primary set-processed-btn', value='Merkkaa käsitellyksi')
            div(class='modal-footer')
              a(class='btn btn-danger', data-dismiss='modal') Peruuta
    script(src=root+'/script/index_manager.js')
