extends layout

block content
  div(class='form-group')
    label(for='statictics-time-range') Tilastot ajalta:
    input(id='statictics-time-range', class='form-control', type='text')
    span.help-block Aloita valitsemalla aikajakso
  .statistics-container
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js')
  script(src=root+'/script/daterangepicker.js')
  script(src=root+'/script/statistics.js')